<% layout('layout') %>

<section class="text-center">
  <h1 class="display-4">Welcome to My Portfolio</h1>
  <p class="lead">Short intro describing who you are and what you do.</p>
  <p><a class="btn btn-primary" href="/projects">See my projects</a></p>
</section>
